<div class="collapse bg-inverse" id="navbarHeader">
   <div class="container">
     <div class="row">
       <div class="col-sm-8 py-4">
         <h4 class="text-white">About</h4>
         <p class="text-muted">This is where you can look at all of the different projects that I've decided to put into my portfolio. This should give you an idea of the kind of work that I do.</p>
       </div>
       <div class="col-sm-4 py-4">
         <h4 class="text-white">Explore</h4>
         <ul class="list-unstyled">
            <%= nav_helper 'text-white', 'li' %>
            <li><%= login_helper 'text-white' %></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 
 <div class="navbar navbar-inverse bg-inverse">
   <div class="container d-flex justify-content-between">
     <a class="navbar-brand" href="#">Mark Ward</a>
     <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarHeader" aria-label="Toggle navigation" type="button" data-target="#navbarHeader" data-toggle="collapse">
       <span class="navbar-toggler-icon"></span>
     </button>
   </div>
 </div>
 
