<h1>About Me</h1>
<p>I was born June 28, 2000 I am a graduate of Clearfield high school class of 2018. I am relatively new to coding and I'm filling this out so I can say I did it.
  BTW this is the about.html.erb file.</p>
