<h1>Like what you see?</h1>
<h2>Lets collaborate!</h2>

<hr>

<div class="row">
   <div class="col-md-6">
      <h4>Address</h4>
      
      <p> 253 W 1900 S, Clearfield, UT 84015</p>

      <h4>Phone</h4>
      
      <p><%= number_to_phone "8017269334" %></p>

      <h4>Email</h4>
      
      <p><a href="mailto:markward2000@outlook.com?subject=PortfolioContact" "email me"> Email me </a></a></p>
   </div>
   
   <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.2261368524305!2d-112.03309268422959!3d41.085905479293075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8753035be684fd29%3A0x854fa80b467b4092!2s253+W+1900+S%2C+Clearfield%2C+UT+84015!5e0!3m2!1sen!2sus!4v1499957230545" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
</div>