<div class="inner cover">
      <h1 class="cover-heading">Welcome!</h1>
<p class="lead">I'm new to the development game but my goal is to always deliver quality work that's always fully communicated with all involved parties.</p>
<p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
</p>
</div>



  